.container {
  display: flex;
  margin: 25px 0 7px 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 0 50px;    
  height: calc(100vh - 388px);
}

.container h1 {
  font-size: 32px;
  margin-bottom: 15px;
  color: var(--white);
}

.container p {
  margin-top: 25px;
  color: var(--white);
}

@media screen and (max-width: 685px) {
  .container {
    margin-top: 5px;
    padding: 0;
  }
  
  .container img {
    height: 180px;
  }

  .container p {
    padding: 0 7px;
  }
}
