.container {
  display: block;  
  margin: 25px 0 7px 0;
  align-items: center;
  justify-content: center;
  padding: 0 50px;    
  
}

.container h1 {
  font-size: 32px;
  margin-bottom: 15px;
  color: var(--white);
}

.container p {
  color: var(--white);
  text-align: center;
}

@media screen and (max-width: 685px) {
  .container {
    margin-top: 5px;
    padding: 0;
  }
  
  .container img {
    height: 180px;
  }

  .container p {
    padding: 0 7px;
  }
}
