.container {
  display: flex;
  margin-top: 45px;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
}

.container h1 {
  font-size: 32px;
  margin-bottom: 5px;
  color: var(--white);
}

.container p {
  margin-top: 25px;
  color: var(--white);
}

@media screen and (max-width: 685px) {
  .container {
    margin-top: 5px;
    padding: 0;
  }
  
  .container img {
    height: 180px;
  }

  .container p {
    padding: 0 7px;
  }
}
