.containerSocialBar {
  position: fixed;
  top: 260px;
  margin-left: 15px;
  padding: 0 3px;
  border-radius: 8px;
  background-color: var(--blue-100);
}

.imgInstagram {
  background: linear-gradient(12deg, var(--yellow-400), red, var(--blue-400));
}

.imgLinkedin {
  background: var(--blue-300);
  padding: 1px 1px;
}

.imgInstagram,
.imgLinkedin {
  justify-content: center;
  display: flex;
  border-radius: 8px;
  margin: 7px 0;
}

.imgInstagram:hover,
.imgLinkedin:hover {
  transition: all 0.2s;
  scale: 1.2;
  opacity: 0.8;
}

.imgInstagram a,
.imgLinkedin a {
  color: var(--white);
}

@media screen and (max-width: 685px) {
  .containerSocialBar {
    top: 10px;
    right: 10px;
    display: flex;
  }

  .imgInstagram,
  .imgLinkedin {
    margin: 0 1px;
  }
}
