.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  padding: 90px 0;
  width: 100%;
  height: calc(100vh - 293px);
}

.content {
  width: max-content;
  display: flex;
}

.container h2 {
  margin: 0 0 22px 0;
  font-size: 34px;
}

.containerDados {
  display: flex;
  flex-direction: column;
  line-height: 1.8;
}
.containerDados * {
  margin: 3px 0;
  width: 100%;
}

.containerDados input,
.containerDados label,
.containerMensagem textarea,
.containerMensagem label,
.containerBotao input {
  font-size: 22px;
}

.containerDados input {
  width: 390px;
  padding-left: 4px;
}

.containerDados input,
.containerMensagem textarea {
  border: 1px solid var(--gray-100);
  border-radius: 5px;
  box-shadow: inset 0 1px 2px 0px rgba(0, 0, 0, 0.1);
  color: var(--blue-300);
}

.containerMensagem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 15px;
}

.containerMensagem textarea {
  padding: 2px;
  resize: none;
  flex: 1;
  width: 470px;
}

.containerBotao {
  display: flex;
  align-items: center;
  width: auto;
  float: right;
  margin: 12px 5px 0 0;
  border-radius: 8px;
  border: 0;
  padding: 4px 7px;
  color: var(--white);
  background-color: var(--blue-200);
}

.containerBotao:hover {
  opacity: 0.7;
}

.containerBotao svg {
  color: var(--green-400);
  margin-right: 5px;
}

.containerBotao input:hover {
  cursor: pointer;
}

@media screen and (max-width: 685px) {
  .container {
    padding: 0;
    height: calc(100vh - 376px);
  }

  .container * {
    width: auto;
    flex-direction: column;    
  }

  .container h2,
  .containerDados input,
  .containerDados label,
  .containerMensagem textarea,
  .containerMensagem label,
  .containerBotao input {
    font-size: 75%;
  }

  .containerMensagem {
    padding: 2px 0;
    margin: 0;
  }

  .containerMensagem textarea {
    height: 90px;
    width: 100%;
  }
  .containerDados,
  .containerMensagem,
  .containerBotao,
  .container h2 {
    
  }

  
  .containerDados input,
  .containerMensagem input{
    width: 300px;
  }
}
