.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border-radius: 15px; */
  background-color: var(--white);
  padding: 90px 0;
  width: 100%;
  /* margin-top: 125px; */
}

.content {
  width: max-content;
  display: flex;
}

.container h2 {
  margin: 0 0 22px 0;
  font-size: 34px;
}

.containerDados {
  display: flex;
  flex-direction: column;
  line-height: 1.8;
}
.containerDados * {
  margin: 3px 0;
  width: 100%;
}

.containerDados input,
.containerDados label,
.containerMensagem textarea,
.containerMensagem label,
.containerBotao input {
  font-size: 22px;
}

.containerDados input {
  width: 390px;
}

.containerDados input,
.containerMensagem textarea {
  border: 1px solid var(--gray-100);
  border-radius: 5px;
  box-shadow: inset 0 1px 2px 0px rgba(0, 0, 0, 0.1);
}

.containerMensagem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 15px;
}

.containerMensagem textarea {
  padding: 2px;
  resize: none;
  height: 160px;
  width: 470px;
}

.containerBotao {
  display: flex;
  align-items: center;
  width: auto;
  float: right;
  margin: 12px 5px 0 0;
  border-radius: 8px;
  border: 0;
  padding: 4px 7px;
  color: var(--white);
  background-color: var(--blue-200);
}

.containerBotao svg {
  color: var(--green-400);
  margin-right: 5px;
}
