@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 1100px;
  --foreground-rgb: 187, 30, 218;
  --background-start-rgb: 187, 30, 218;
  --background-end-rgb: 255, 255, 255;

  --white: white;
  --blue-100: #00b4d8;
  --blue-200: #0096c7;
  --blue-300: #0077b6;
  --blue-400: #023e8a;
  --blue-600: #03045e;

  --yellow-400:#eaea00;

  --texto : #222220;

  --purple-200: #c777ff;
  --purple-600:#7d0fcb;

  --green-400: #00c431;

  --gray-100:#a7a7a2;
  --gray-300:#74746b;
  --gray-400:#616161;
  --gray-600: #40403c;

  --color-instragram: #f71472;
  height: 100vh;  
}

* {
  font-family: "M PLUS Rounded 1c", sans-serif;  
  border: 0;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
}

body {
  background: linear-gradient(111deg, var(--blue-200),var(--blue-600)); 
}

a {
  text-decoration: none;
}

a,
span,
h1,
p {
  color: var(--texto);
  font-weight: bold;
}

@media screen and (min-width: 860px){
  html,
  body {
    overflow-y: hidden;
  }
}

@media screen and (max-width: 685px) {
  :root {
    height: calc(100vh - 109px);
  }
}

@media screen and (min-height: 420px) {
  :root {
    overflow-y: visible;
  }
}
