@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --max-width: 1100px;
  --foreground-rgb: 187, 30, 218;
  --background-start-rgb: 187, 30, 218;
  --background-end-rgb: 255, 255, 255;

  --white: white;
  --purple-100: #c777ff;
  --purple-200: #ad5ee8;
  --purple-300: #9445d0
  --purple-400: #7a2cb9;
  --purple-600: #6013a1;

  --blue-200: #1386e4fe;

  --blue-600:#2b1b9a;


  --gray-100:#a7a7a2;
  --gray-300:#74746b;
  --gray-400:#616161;
  --gray-600: #40403c;
  height: 100vh;
  
}

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: linear-gradient(111deg, var(--purple-200),var(--purple-600)); 
}

a {
  text-decoration: none;
}

a,
span,
h1,
p {
  color: var(--texto);
  font-weight: bold;
}

@media screen and (max-width: 685px) {
  :root {
    height: calc(100vh + 430px);
  }
}
