@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --max-width: 1100px;
  --foreground-rgb: 187, 30, 218;
  --background-start-rgb: 187, 30, 218;
  --background-end-rgb: 255, 255, 255;

  /* overflow-y: hidden; */

  --white: white;
  --purple-100: #caa3f1;
  --purple-400: #a851ff;
  --purple-600: #7c1bdd;

  --blue-200: #1386e4fe;

  --texto: #40403c;
  height: 100vh;
}

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: linear-gradient(
      to top,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  text-decoration: none;
}

a,
span,
h1,
p {
  color: var(--texto);
  font-weight: bold;
}

@media screen and (max-width: 685px) {
  :root {
    height: 120vh;
  }
}
