.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 150px;
  line-height: 1.5;
}

.container * {
  color: var(--white);
}

.container h1 {
  font-size: 42px;
}

.container p {
  font-size: 22px;
}

@media screen and (max-width: 685px) {
  .container {
    margin: 55px 2px;
  }
}
