.container {
  margin-top: 1px;
  padding-top: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--white);
  outline: 2px solid var(--blue-100);  
}

.container a,
.container span {
  font-size: 22px;
}

.container a:hover,
.container span:hover {
  color: var(--blue-200);
}

.profile {
  background-color: var(--white);
  display: flex;
  align-items: center;
}

.profile img {
  padding: 1px;
  width: 52px;
  border-radius: 100%;
  border: 1px solid var(--blue-200);
  outline: 2px solid var(--blue-300);
  margin: 2px 15px 10px 25px;
  cursor: pointer;
}

.profile span {
  cursor: pointer;
}

.menu {
  margin: 0 65px 7px 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu a {
  transition: all 0.2s;
  padding-left: 10px;
  margin: 0 20px;
}

.menu a:hover {
  transform: scale(1.08);
  color: var(--blue-200);
}

@media screen and (max-width: 685px) {
  .container {
    display: block;
  }

  .menu {
    margin: 0;
    margin-top: 15px;
    justify-content: center;
    padding-bottom: 7px;
  }
  .menu a {
    font-size: 90%;
  }
}
