.container {
  display: flex;
  align-items: center;
  line-height: 200%;
  margin: 120px 4% 0 3%;
}

.containerSobre {
  flex: 1.9;
  margin-right: 45px;
}

.containerSobre * {
  color: var(--white);
  font-size: 21px;
  text-align: justify;
}

.containerSobre a {
  text-decoration: underline;
  color: var(--blue-200);
}

.containerImg {
  flex: 1.5;
}

.containerImg img {
  width: 100%;
  height: 475px;
  object-fit: cover;
  border-radius: 5px;
}

@media screen and (max-width: 685px) {
  .container {
    display: flex;
    flex-direction: column;
    margin: 15px 16px 0px 16px;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
  }

  .containerSobre {
    margin: 0;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .containerSobre > * {
    font-size: 75%;
    text-align: justify;
    background-color: var(--purple-400);
    opacity: 0.9;
    padding: 0 10px 8px 10px;
    border-radius: 10px;
  }

  .containerImg {
    display: flex;

    align-items: center;
    justify-content: center;
  }

  .containerImg img {
    height: 245px;
    width: 92%;

  }
}
