.container {
  margin-left: 120px;
}

.container * {
  color: var(--white);
  text-align: justify;
}

.contato {
  margin: 0 17px;
}

.container a {
  text-decoration: underline;
  color: var(--purple-200);
}

.containerImg1,
.containerImg2 {
  padding: 0 70px;
  flex: 1;
  display: flex;
  justify-content: center;
}

.containerImg1 img {
  height: 475px;
  object-fit: none;
  border-radius: 5px;
  padding: 1px;
  border: 2px solid var(--blue-200);
  object-position: -90px -85px;
}

.containerImg2 img {
  height: 475px;
  object-fit: cover;
  border-radius: 5px;
  padding: 1px;
  border: 2px solid var(--blue-200);
  object-position: 0 -120px;
}

@media screen and (min-width: 1085px) {
  .container * {
    font-size: 104%;
  }
}

@media screen and (max-width: 685px) {
  .container {
    padding: 26px 0 0 0;
    margin: 0;
  }

  .contato {
    padding: 0 2px;
  }

  .containerImg1,
  .containerImg2 {
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
  }

  .containerImg1 img {
    object-fit: unset;
    object-position: 0;
  }

  .containerImg2 img {
    object-position: 0;
  }
}
