.containerFooter {
  position: absolute;
  height: 180px;
  bottom: 0%;
  width: 100%;
  padding: 17px 165px;
  background-color: var(--white);
  
}

.containerFooter hr {
  margin: 10px 0;
  border-top: 1px solid var(--blue-300);
}

.contentRodape,
.contentTopo {
  display: flex;
  justify-content: space-between;
  margin: 0 35px;
}

.descricao {
  flex: 1;
}

.descricao h1 {
  font-size: 22px;
  margin-bottom: 10px;
}

.mediaSocial {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 25px;
}

.mediaSocial svg {
  margin: 0 15px;
  cursor: pointer;
}

@media screen and (max-width: 685px) {
  .containerFooter {
    position: relative;
    width: auto;
    height: 50vh;
    bottom: 0;
    padding: 0;
  }

  .contentRodape,
  .contentTopo {
    display: grid;
    text-align: center;
  }
  .mediaSocial {
    justify-content: center;
    margin: 5px 0;
  }
}
